h1 {
    text-align: center;
}
h5 {
    text-align: center;
    position: relative;
    top: 150px;
}
nav {
    background-color: rgba(0, 0, 0, 0.226);
    height: 50px;
    width: 100%;
    text-align: left;
    padding-left: 20px;
    border-style: solid;
    border-color: midnightblue;
    border-width: 2px;
    line-height: 50px;
    font-weight: bold;
    color: white;
}

body {
    background-color: rgba(0, 0, 0, 0.63);
}